<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View information from Sam’s assessment
      </span>
    </summary>
    <div class="govuk-details__text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        This area is linked to risk of serious harm (RoSH)
      </h3>
      <p>
        Sam has a history of destabilising quickly if he loses accommodation
        and therefore having secure accommodation is key in reducing his risk.
        When NFA he will gravitate to a negative peer group in the form of the
        rough sleeping community who use substances which then increases the
        risks of him engaging in harmful behaviours.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        This area is linked to risk of reoffending
      </h3>
      <p>
        Lack of accommodation destabilises Sam which then impacts on his
        mental health which in turn increases the likelihood of using
        substances to self-medicate. Rough sleeping increases the contact with
        the local Rough Sleeping community to which Sam is well known and
        will increase the likelihood of aggressive and violent behaviour as he
        engages in substance misuse and offending as a way to survive.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Motivation to make changes in this area
      </h3>
      <p>Sam wants to make changes and knows how.</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        There are strengths or protective factors related to this area
      </h3>
      <p>
        Sam is engaged with the RISE team to support him in maintaining his
        tenancy and has weekly contact with their support worker.
      </p>
    </div>
  </details>