<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View information from Sam’s assessment
      </span>
    </summary>
    <div class="govuk-details__text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        This area is linked to risk of serious harm (RoSH)
      </h3>
      <p>
        Multiple incidents of aggression both as a response to the situation (e.g. feels that someone has disrespected him) and also to gain compliance (e.g. when owed money). Exhibits a very negative attitude towards the police and any interaction with them is more often than not likely to result in aggression especially as she believes that they persecute him.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        This area is linked to risk of reoffending
      </h3>
      <p>
        Sam struggles to solve his problems and prefers others to do this for him, she behaves impulsively with little thought and places his own needs above those of others including the other's own safety.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Motivation to make changes in this area
      </h3>
      <p>Sam wants to make changes and knows how.</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        There are no strengths or protective factors related to this area
      </h3>
    </div>
  </details>