<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View information from Sam’s assessment
      </span>
    </summary>
    <div class="govuk-details__text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom">
        This area is not linked to risk of serious harm (RoSH)
      </h3>
      <p></p>
      
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        This area is not linked to risk of reoffending
      </h3>
      <p>
      
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Motivation to make changes in this area
      </h3>
      <p>Sam has already made positive changes and wants to maintain them</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        There are strengths or protective factors related to this area
      </h3>
      <p>
        Sam’s employment provides her with a steady and secure income. She has had to develop good budgeting skills since becoming a single mum; however with the price of everything going up, her money doesn’t go as far as it used to. This is coupled with the irregular child maintenance payments from her ex-partner. Sam recognises that this protective factor is potentially at risk, should she lose her employment and has some concerns about paying her fine and court costs.
      </p>
    </div>
  </details>