<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View information from Sam’s assessment
      </span>
    </summary>
    <div class="govuk-details__text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        This area is not linked to risk of serious harm (RoSH)
      </h3>
      <p></p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        This area is linked to risk of reoffending
      </h3>
      <p class="govuk-body">Sam does not perceive herself to be reckless or a risk-taker, stating that she did not believe that the alcohol she had consumed the previous evening would cause her to be over the limit feeling like ‘everyone does it’ in relation to driving home the next day. She described just being focused on the opportunity to do some outstanding household chores before her children came home. However, Sam accepts that she consumed the quantity of alcohol that she did and that she is responsible for her own actions. </p>
                <p class="govuk-body">Sam has now experienced two occasions in which her judgement and decision making has been impaired as a result of alcohol use. Additionally, when discussing the lead up to both the incidents Sam has been able to reflect that the circumstances preceding those nights were both stressful and overwhelming for her; therefore, using alcohol as a form of escapism. Sam is still in shock about the potential consequences her actions may have on her career, family and social services involvement however feels this is just a one off that won’t happen again.</p>
                <p class="govuk-body">Sam needs to understand how dealing with her problems is linked to her alcohol use and then recognising the consequences of her actions and behaviour once she has consumed alcohol to an unacceptable level. Her attitude towards how she behaves needs to be also explored further to also help reduce her risk of re offending whilst she justifies her behaviour by stating ‘everyone does it’.</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Motivation to make changes in this area
      </h3>
      <p>Sam wants to make changes but needs help.</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        There are strengths or protective factors related to this area
      </h3>
      <p>It is positive to see that from our discussions and exploration into the index offence, Sam is open to receiving support or guidance in ensuring she does not repeat this mistake again. Whilst she is not yet sure on what specifically she should work on, she presents as motivated to work with me to explore this further together.</p>

    </div>
  </details>