<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View information from Sam’s assessment
      </span>
    </summary>
    <div class="govuk-details__text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom">
        This area is not linked to risk of serious harm (RoSH)
      </h3>
      
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        This area is linked to risk of reoffending
      </h3>
      <p>
        Sam presents a risk of returning to acquisitive-type offending should she find himself in sufficient financial difficulty.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Motivation to make changes in this area
      </h3>
      <p>Sam does not want to make change: I have no issues with money right now, as I am in receipt of Universal Credit which I can live off. I may want to work in future instead of receiving benefits but I am not ready for this right now.</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        There are strengths or protective factors related to this area
      </h3>
      <p>
        Sam has indicated that she is currently able to manage his finances and budget within his means. she recognises that she is also fortunate that his mother appears to be willing to offer him limited financial support on occasions where she might struggle, including one-off costs, such as court fines, or transport to probation or other interventions.
      </p>
    </div>
  </details>