
    {% if print %}
    <a href="#" id="print-button" class="govuk-link govuk-link--no-visited-state app-link-print govuk-!-display-none-print">Print</a>
    {% endif %}

    <div class="plan-header__subject-details">
        <p class="plan-header__subject-details__title">Sam Smith</p>
        <dl class="plan-header__subject-details__identifiers">
            <div>
                <dt>CRN:</dt>
                <dd>X659376 </dd>
            </div>
            <div>
                <dt>PNC:</dt>
                <dd>01/55774539A </dd>
            </div>
            <div>
                <dt>Date of birth:</dt>
                <dd>26 June 1978 </dd>
            </div>
        </dl>
    </div>