// global styles for <a> and <p> tags
$govuk-brand-colour:	#1d70b8;
.govuk-button {
	text-decoration: none;
}
.supportinfo {
	display: block;
	color: govuk-colour("dark-grey");
	font-size: 1rem;
	padding-top: 4px;
}


.main-case-table {
	td {
		font-size: 1.1rem;
		a {
			font-weight: bold;
		}
	}
	.govuk-tag {
		margin-top: 6px;
		margin-block: 5px;
		font-size: .9rem;
		}
}

.noshow {
	position: absolute;
	left: -99999px;
	font-size: 0;
}


.profile-style {
	background:  $govuk-brand-colour	;
}



.profile-banner {
	border-bottom: 1px solid govuk-colour("mid-grey");
	margin-bottom: 30px;
	padding-bottom: 30px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			vertical-align: top;
			display: inline-block;
			margin: 0 30px 0 0;
			padding-right: 30px;
	
			&:last-child {
				margin: 0;
				padding: 5px 0 0 0;
				border: 0;
			}
			p {
				margin-bottom: 10px;
			}
		}
	}
	.govuk-heading-xl {
		margin-bottom: 10px;
	}
}

.backhome {
margin-bottom: 20px;
	a {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
	}
}


.card {
	border: 1px solid govuk-colour("mid-grey");
	margin-bottom: 20px;
	&.card-rosh {
		border: 1px solid govuk-colour("red");
	}
	.card-heading {
		background: govuk-colour("light-grey");
		padding: 16px 20px;
		h2 {
			padding: 0;
			margin: 0;
			font-size: 1.1rem;
		}

	}
	&.card-height {
		min-height: 460px;
	}
.obj-body {
	padding: 20px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			border-left: 1px solid govuk-colour("dark-grey");
			padding-left: 20px;
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border-left: 0;
			}
		h3 {
			font-size: 1.1rem;
			margin: 0;
			span {
				font-size: 1.1rem;
			}
		}	
		}
	}
}

	.card-body {
		padding: 20px;
		h2, h3, h4, h5 {
			margin: 0;
			font-size: 1.3rem;
		}
		h3 {
			margin-bottom: 20px;
		}
		.needList {
			li {
			border-bottom: 1px solid govuk-colour("mid-grey");
			padding: 5px 0;
		}
		}
		p {
			margin: 0 0 20px 0;
			font-size: 1.1rem;
			&:last-child {
				margin-bottom: 10px;
			}
		}
		td, th {
			font-size: 1.1rem;
		}
		li {
			font-size: 1.1rem;
			p {
				margin-top: 20px;
			}
		}
		a {
			margin-top: 30px;
		}
		span {
			font-size: .9rem;
			
		}
		.govuk-button {
			font-size: 1.1rem;
		}
	}
}

.card-3-body {
	td, th, p, li, h2 {
		font-size: 1rem!important;
		&.corLayout {
			font-size: 2rem!important;
			font-weight: bold;
			margin: 0;
			padding: 20px 0 14px 0;
			border-bottom: 1px solid govuk-colour("mid-grey");
			color: #000;
			&:first-child {
				//border: 0;
				padding-top: 8px;
			}
			span {
				font-size: 1rem!important;
				font-weight: normal;
				display: block;
				color: govuk-colour("dark-grey");
				padding-bottom: 3px;
			}
			date {
				font-size: 1.1rem!important;
				font-weight: normal;
				position: relative;
				padding: 0;
				left: -3px;
				top: -1px;
				//display: block;
				
			}
			
			strong {
				position: relative;
				top: -2px;
				font-size: .8rem;
				margin-left: 2px;
			}
		}
	}
	span {
		font-size: .8rem!important;
		&.fontFix {
			font-size: .9rem!important;
		}
	}
	.govuk-button {
		font-size: 1rem!important;
	}
	
	
}

.govuk-notification-banner__heading {
	font-size: 1.3rem;
}

.source-info {
	font-weight: normal;
	color: govuk-colour("dark-grey");
	font-size: 1.1rem;
	padding-left: 5px;
}

.js-enabled .govuk-accordion__section-content {
	padding-top: 0;
}

.detailsTable {
	font-size: 1.1rem;
	tr {
		th, td {
			border-color: govuk-colour("light-grey");
		}
		&:last-child {
			th, td {
				border: 0;
			}
		}
	}
	p {
		margin: 4px 0 0 0;
		&:first-child {
			margin-top: 0;
			font-size: 1.1rem;
		}
	}
}


.last-updated {
	color: govuk-colour("dark-grey");
	font-size: 1.1rem;
}

.secondary-badge {
	background: govuk-colour("light-grey");
	color: govuk-colour("black");
}

.action-header {
	float: right;
	width: auto;
}


.notes-display {
	li {
		display: block;
		padding: 20px 0 20px 20px;
		border-left: 5px solid govuk-colour("mid-grey");
		margin-bottom: 30px;
		font-size: 1.1rem;
		time {
			color: govuk-colour("dark-grey");
			font-size: 1rem;
		}
		h2 {
			display: block;
			border-bottom: 1px solid govuk-colour("mid-grey");
			padding-bottom: 20px;
			span {
			
				font-weight: normal;
				font-size: 1rem;
				//color: govuk-colour("dark-grey");
			}
			strong {
				font-size: 1rem;
				margin-top: 5px;
			}
		}
		p {
			margin: 20px 0 0 0;
			font-size: 1.1rem;
			&:first-child {
				margin: 0;
			}
		}
	}
}

.delegate {
	strong {
		margin-top: -26px;
	}
}

.delegateTag {
	display: inline-block;
	clear: both;
	color: govuk-colour("dark-grey");
	font-size: 1rem;
	margin-top: 5px;
	&.delTable {
		display: block;
		clear: none;
		border-left: 3px solid govuk-colour("mid-grey");
		padding: 3px 0 5px 10px;
		b {
			font-weight: normal;
			color: govuk-colour("black");
		}
	}
}

.profile-banner-plan {
	border-bottom: 1px solid govuk-colour("mid-grey");
	margin-bottom: 30px;
	margin-top: -40px; // remove gov-main padding
	padding-bottom: 20px;
	span {
		margin-left: 10px;
	}
	ul {
		list-style: none;
		margin: 14px 0 0 0;
		padding: 0;
		li {
			vertical-align: top;
			display: inline-block;
			margin: 0 10px 0 0;
			padding: 2px 0 0 10px;
			color: govuk-colour("dark-grey");
			font-size: 16px;
			border-left: 1px solid govuk-colour("mid-grey");
			&:first-child {
				border: 0;
				padding-left: 0;
			}
		}
	}
}


.profileFIlters {
	//border-bottom: 0!important;
	margin-bottom: 10px;

	//padding-bottom: 0!important;
	ul {
		margin-top: 20px!important;
	}
}




.sample-head {
	border-bottom: 1px solid govuk-colour("mid-grey");
	padding-bottom: 20px;
	span {
		margin-left: 10px;
	}
	ul {
		list-style: none;
		margin: 14px 0 0 0;
		padding: 0;
		li {
			vertical-align: top;
			display: inline-block;
			margin: 0 10px 0 0;
			padding: 2px 0 0 10px;
			color: govuk-colour("dark-grey");
			font-size: 16px;
			border-left: 1px solid govuk-colour("mid-grey");
			&:first-child {
				border: 0;
				padding-left: 0;
			}
		}
	}
}


.list-layout {
	list-style: none;
	margin: 14px 0 0 0;
	padding: 0;
	//border-bottom: 1px solid govuk-colour("mid-grey");
	li {
		vertical-align: top;
		display: inline-block;
		margin: 0 10px 0 0;
		padding: 10px 0 10px 10px;
		color: govuk-colour("dark-grey");
		border-left: 1px solid govuk-colour("mid-grey");
		&:first-child {
			border: 0;
			padding-left: 0;
		}
	}
}

.app-task-list__tag {
	font-size: 15px;
}


.objAdded {
	text-align: right;
	div {
		margin-top: 10px;
	}
}

.action-banner {
	background: rgba( $govuk-brand-colour	, 0.05);
	border-left: 5px solid  $govuk-brand-colour	;
	padding: 20px;
	margin-bottom: 30px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin: 0 0 0 20px;
			padding: 5px 0 5px 20px;
			display: inline-block;
			border-left: 1px solid;
			&:first-child {
				border: 0;
				margin: 0;
				padding-left: 0;
			}
			h2 {
				font-weight: normal;
				font-size: 17px;
				padding: 0;
				margin: 0;
			}
			p {
				font-weight: bold;
				padding: 3px 0 0 0;
				margin: 0;
			}
		}
	}
}

.sp-head {
	background: white;
	padding: 40px;
}

.sp-wrapper-head {
	background: blue;
	max-width: auto!important;
	width: 100%;
}

.sp-wrapper {
	width: 100%!important;
	padding: 0;
	background: govuk-colour("light-grey");
}

.sp-wrapper-foot {
	padding-left: 40px;
	padding-right: 40px;
}

.left-panel {
	padding: 40px 0 40px 40px;
	&.left-assess {
		padding: 40px 0 40px 0;
	}
	
	.action-links {
		margin-top: 58px;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: block;
				margin: 0;
				padding: 0;
				border-bottom: 1px solid govuk-colour("mid-grey");
				&:first-child {
					border-top: 1px solid govuk-colour("mid-grey");
				}
				a {
					display: block;
					padding: 22px 40px;
					text-decoration: none;
					color: #000;
					font-size: 19px;
					&:hover {
						background: #fff;
						
					}
					&.active {
					     border-left: 8px solid  $govuk-brand-colour	;
						background: #fff;
						font-weight: bold;
						padding-left: 32px;
						&:hover {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	
}

.middle-panel {
	padding: 40px 40px 60px 40px;
	background: #fff;
	overflow: hidden;
	position: relative;
	&.chat {
		padding-bottom: 320px;
	}
}

.right-panel {
	padding: 40px;
	//background: #fff;
	//min-height: 820px;
	//border-left: 1px solid govuk-colour("mid-grey");
}

.head-full {
	padding: 0;
}


.interview-contain {

	//min-height: 400px;
	max-height: 400px;
	padding-bottom: 120px;
	//border-bottom: 35px solid govuk-colour("dark-grey");
	overflow-y:scroll;
}



.comment-container {
	margin-top: 25px;
	border: 1px solid govuk-colour("black");
	border-radius: 5px;
	padding: 20px;
	width: 75%;
	&:first-child {
		margin-top: 0;
	}
	p {

		margin: 0;
		font-size: 17px;
	}
	ul {
		margin: 0;
		list-style: none;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			display: inline-block;
		}
	}
}


.add-tags {
	//border-top: 1px solid govuk-colour("mid-grey");
	span {
		display: inline-block;
		margin: 20px 5px 0 0;
		background: $govuk-brand-colour;
		color: #fff;
		border-radius: 5px;
		padding: 4px 8px;
		font-size: 15px;
		&.orange {
			background: govuk-colour("orange");
		}
	}
}



.interview-control {
	position: absolute;
	bottom: 0;
	left: 0;
	
	background: govuk-colour("white");
	//border-top: 3px solid govuk-colour("black");
	padding: 40px;
	//border-radius: 5px;
	margin-top: 40px;
	
	h2 {
		border-top: 3px solid govuk-colour("black");
		padding-top: 30px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		li {
			float: left;
			vertical-align: top;
			width: 88%;
			&:last-child {
				width:auto;
				float: right;
				padding-top: 7px;
			}
		}
	}
}

.floater {
	margin: 0;
	a {
		display: inline-block;
		margin: 0 5px 10px 0;
		background: govuk-colour("white");
		border-radius: 5px;
		padding: 4px 8px;
		font-size: 15px;
		border: 1px solid govuk-colour("black");
		text-decoration: none;
		color: #000;
		&:hover {
			border: 1px solid govuk-colour("black");
			background: govuk-colour("black");
			color: #fff;
		}
		&.active {
			border: 1px solid govuk-colour("black");
			background: govuk-colour("black");
			color: #fff;
		}
	}
}

.pad-over {
	padding-left: 0!important;
	padding-right: 0!important;
}


.one-service {
	background: #000;
	.moj-header__container {
		margin: 0 0 0 40px!important;
	}
}

.temp-f {
	border-top: 10px solid govuk-colour("mid-grey");
	background: #000;
	padding: 40px;
	a {
		color: #fff!important;
		font-size: 17px;
	}
}

.interview-bar {
	p {
		font-size: 17px;
		margin: 0;
	}
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}

.status-assess {
	padding-left: 40px;
	p {
		position: relative;
		padding-left: 18px;
	&:before {
		content: "";
		position: absolute;
		top: 8px;
		left: 0;
		width: 10px;
		height: 10px;
		border-radius: 20px;
		background: govuk-colour("orange");
	}
}
}

.assess-stat {
	margin: 0;
}

.fix-lay {
	margin-left: 0;
	margin-right: 0;
}


.badge-sp1, .badge-sp2 {
	font-size: 12px;
	padding: 5px;
	border-radius: 20px;
	margin-left: 5px;
}
.badge-sp1 {
	background: govuk-colour("orange");
}
.badge-sp2 {
	background: $govuk-brand-colour;
}

.moj-sub-navigation {
	b {
		font-size: 16px;
	}
}


.filterBy {
	color: govuk-colour("dark-grey");
	margin-bottom: 0;
}


.planprogressContain {
	position: relative;
	top: -10px;
	margin-bottom: 30px;
	.planButton {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}


.filterPanels {
	//border-bottom: 1px solid #000;
	margin-bottom: 10px;
 ul {

	 li {
		 display: inline-block;
		 vertical-align: top;
		 &:first-child {
			 padding-top: 8px;
			 padding-right: 8px;
			 color: govuk-colour("dark-grey");
		 }
	 }
 }

}


.moj-page-header-actions {
	margin-bottom: 25px;
}

.moj-page-header-actions__action {
	font-size: 1.1rem;
}

.header-actions-temp {
	border-bottom: 1px solid govuk-colour("dark-grey");
	padding-bottom: 30px;
	margin-bottom: 40px;
}


.rosh {
	color: govuk-colour("red");
	margin: 0!important;
}
.updatedDate {
	color: govuk-colour("dark-grey");
	font-size: 2rem!important;
	margin: 5px 0 0 0!important;
}

.lowRosh {
	color: govuk-colour("green");
	font-weight: bold;
}

.medRosh {
	color: govuk-colour("orange");
	font-weight: bold;
}

.highRosh {
	color: govuk-colour("red");
	font-weight: bold;
}

.govuk-width-container-full-w {
	max-width: 1170px;
	margin-right: 15px;
	margin-left: 15px;
  }
  
  @supports (margin: max(calc(0px))) {
	.govuk-width-container-full-w {
	  margin-right: max(15px, 15px + env(safe-area-inset-right));
	  margin-left: max(15px, 15px + env(safe-area-inset-left));
	}
  }
  @media (min-width: 40.0625em) {
	.govuk-width-container-full-w {
	  margin-right: 30px;
	  margin-left: 30px;
	}
	@supports (margin: max(calc(0px))) {
	  .govuk-width-container-full-w {
		margin-right: max(30px, 15px + env(safe-area-inset-right));
		margin-left: max(30px, 15px + env(safe-area-inset-left));
	  }
	}
  }
  @media (min-width: 1230px) {
	.govuk-width-container-full-w {
	  margin-right: auto;
	  margin-left: auto;
	}
	@supports (margin: max(calc(0px))) {
	  .govuk-width-container-full-w {
		margin-right: auto;
		margin-left: auto;
	  }
	}
  }



  .card .card-body-kanban {
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 0px;
  }


  .card .card-heading-kanban {
	background: #f3f2f1;
	padding-top: 12px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 0px;
  }

  /* Actions menu */
  .hmpps-actions-block {
	/*border: 1px solid #505a5f;*/
  }
  
  .hmpps-actions-block h2 {
	padding: 10px;
	border-bottom: 2px solid #0b0c0c;
	margin: 0;
  }
  
  .hmpps-actions-block__list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  
  .hmpps-actions-block__list li {
	display: flex;
	align-items: center;
	padding: 14px 0;
	margin: 0 15px;
  }
  
  .hmpps-actions-block__list li img {
	align-self: flex-start;
	margin-right: 15px;
  }
  
  @media (max-width: 1000px) {
	.hmpps-actions-block__list li img {
	  display: none;
	}
  }
  .hmpps-actions-block__list li a {
	font-weight: 700;
  }
  
  @media (max-width: 1000px) {
	.hmpps-actions-block__list li a {
	  font-size: 16px;
	}
  }
  .hmpps-actions-block__list li:not(:last-of-type) {
	border-bottom: 1px solid #b1b4b6;
  }



  .card-ben-body {
	td, th, p, li, h2 {
	
		&.corLayout {

			font-weight: bold;
			margin: 0;
			padding: 20px 0 14px 0;
			border-bottom: 1px solid govuk-colour("mid-grey");
			color: #000;
			&:first-child {
				//border: 0;
				padding-top: 8px;
			}
			span {
				font-size: 2rem!important;
				font-weight: normal;
				display: block;
				color: govuk-colour("dark-grey");
				padding-bottom: 3px;
			}
			date {
				font-size: 1.1rem!important;
				font-weight: normal;
				position: relative;
				padding: 0;
				left: -3px;
				top: -1px;
				//display: block;
				
			}
			
			strong {
				position: relative;
				top: -2px;
				font-size: .8rem;
				margin-left: 2px;
			}
		}
	}
	span {
		font-size: .8rem!important;
		&.fontFix {
			font-size: .9rem!important;
		}
	}
	.govuk-button {
		font-size: 1rem!important;
	}
}

.assessment-score {
	background-color: #f3f2f1;
	padding: 20px;
}

.phoebe-accordion-header {
	font-size: 24px!important;
	font-weight: 100!important;
	display: flex;
	align-items: center;
	row-gap: 10px;
	column-gap: 10px;
	padding-top: 25px!important;
}

.phoebe-accordion-tags {
	margin-right: auto;
}

.phoebe-accordion-header-no-risk {
	font-size: 24px!important;
	font-weight: 100!important;
	display: flex;
	justify-content: space-between;
	padding-top: 25px!important;
}

.govuk-select {
	min-width: auto;
}

.app-htmlformrow {
	.govuk-form-group {
		 margin-bottom: 1rem; //this is hacky. Add a media query
	 }
}

#toggleDiv {
	display: none;
}


.landing-card {
	height: 150px;
  }
  
  .landing-heading {
	margin-bottom: 20px;

  }

  
.goal-list {
	li {
		&::marker {
			font-weight: bold;
		}

		.govuk-summary-card {
			margin-left: govuk-spacing(2);

			&__title {
				flex: 1
			}

			&__actions {
				flex: 1;
				align-content: baseline;
			}
		}
	}
}

.govuk-summary-card--no-pad {
		border: unset;

		.govuk-summary-card__content {
			padding: 0;
		
	}

	
} 

/* .card-actions-title{
	width: 70%;
}

.card-heading {
	font-size: 24px!important;	
}	 */