{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 
{% set unagreedPlan = true %}
{% set mainClasses = "app-main-wrapper" %}
{% block main %}
{% include "../includes/primary-nav.html" %}
{{ super() }}
{% endblock %}

{% block content %}

    <!-- plan header start -->
<div class="plan-header">
  <!-- profile start -->
  {% include "../includes/profile.html" %}
  <!-- profile end -->
</div>
<!-- plan header end -->

     <a href="/MVP-create/plan-overview" class="govuk-back-link">Back</a> 

  <div class="govuk-grid-row">
  </br>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Does Sam agree to this plan?
      </h1>

      <form class="form" action="/MVP-update/plan-overview" method="post">

        
        
        {% set phoneHtml %}

        {{ govukTextarea({
          name: "moreDetail1",
          id: "more-detail1",
          rows: "3",
          label: {
            text: "Enter details"
          }
        }) }}
        {% endset -%}
      
        {% set noanswerHtml %}
        {{ govukTextarea({
          name: "moreDetail2",
          id: "more-detail2",
          rows: "3",
          label: {
            text: "Enter details"
          }
        }) }}
        {% endset -%}
        
        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Sam must answer this question, or you must record why Sam could not."
          },
          items: [
            {
              value: "email",
              text: "Yes, Sam agrees"
            },
            {
              value: "phone",
              text: "No, Sam does not agree",
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "no-answer",
              text: "Sam could not answer this question",
              conditional: {
                html: noanswerHtml
              }
            }
          ]
        }) }}

        <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="250">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="with-hint">Add any notes (optional)</label>
          </h2>
          <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="3" aria-describedby="with-hint-info with-hint-hint"></textarea>
          
        </div>

        {{ govukButton({
          text: "Save"
        }) }}

        <p class="govuk-body">
          <a href="plan-overview" class="govuk-link govuk-link--no-visited-state">Change goals</a>
        </p>
      </form>

    </div>
  </div>

{% endblock %}
