<!DOCTYPE html>
<html lang="en" class="govuk-template one-service">
  <head>
    <meta charset="utf-8">
    <title>
  Sentence plan - GOV.UK
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/plugin-assets/govuk-frontend/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon.png">
    

    
  
  
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />




  


    
    
  </head>
  <body class="govuk-template__body"><script id="__bs_script__">//<![CDATA[
  (function() {
    try {
      var script = document.createElement('script');
      if ('async') {
        script.async = true;
      }
      script.src = '/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname);
      if (document.body) {
        document.body.appendChild(script);
      } else if (document.head) {
        document.head.appendChild(script);
      }
    } catch (e) {
      console.error("Browsersync: could not append script tag", e);
    }
  })()
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    
{%- from "moj/components/header/macro.njk" import mojHeader -%}

{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: '#'
  },
  serviceLabel: {
    text: 'Sentence Plan',
    href: '#'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: '',
      href: '#',
      active: true
    }, {
      text: '',
      href: '#'
    }]
  }

}) }}




  




    


      
        
        <main class="sp-wrapper" id="main-content" role="main">
          
 
          
          
 <!-- Patterns -->         
 

 
 
 <div class="govuk-grid-row fix-lay">
   <div class="govuk-grid-column-one-quarter pad-over">
     
     <div class="left-panel left-assess">
       
       <div class="status-assess">
       <h3 class="govuk-heading-s mb10">Status</h3>
       
       <p class="assess-stat">Assessment in progress</p>
       
       
       
       </div>
 
       <div class="action-links">
         <ul> 
           <li><a href="#">Interview</a></li>
           <li><a href="#">Further information</a></li>
           <li><a href="#" class="active">Review</a></li>
           <li><a href="arns-analysis">Analysis</a></li>
           <li class="save"><a href="index">Save and exit</a></li>
         </ul>
       </div>
       
      
      
     </div>
     
     
   </div>
   
   <div class="govuk-grid-column-one-half pad-over">
     
     <div class="middle-panel chat">
       
       

          
          <div class="profile-banner-plan">
                
                
             <h1 class="govuk-heading-m mb0">
                <!--  <span class="govuk-caption-l">JW 41 54 60 A</span> -->
                  Ibrahima Jones
                  
                  <!-- <span class="moj-badge moj-badge--red">HIGH RISK OF SERIOUS HARM</span> -->
                </h1>
            
             <ul class="govuk-list">
               <li>CRN: Z804100</li>
               <li>PNC: 2017/123400000H</li>
               <li>Date of birth: 26 June 1978</li>
             </ul>
             
      
              
              </div>




<form class="form" action="task-arns" method="post">
<div class="interview-contain">

<!--<p>You haven't added any notes</p>-->



<div class="comment-container">
  <p>{{ data['moreDetail'] }}</p>
  <div class="add-tags">
    <ul class="govuk-list">
      <li><span>Accommodation</span></li>
      <li><span>Thinking behaviours</span></li>
    </ul>
  </div>
</div>

<div class="comment-container">
  <p>To use the ‘Button’ and meet the new Web Content Accessibility Guidelines (WCAG) 2.2 criteria, make sure that users can successfully.</p>
  <div class="add-tags">
    <ul class="govuk-list">
      <li><span>Accommodation</span></li>
      <li><span>Drug use</span></li>
    </ul>
  </div>
</div>




</div>


</form>


     
    </div>
 </div>
          
          
          
       <!--   <div class="govuk-grid-column-one-quarter pad-over">
            
            
            <div class="right-panel">
              
              <h1 class="govuk-heading-s">Topic guides</h1>
              
              <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Select topic:
                </label>
                <select class="govuk-select" id="sort" name="sort">
                  <option value="published" selected>Accommodation</option>
                  <option value="updated">Recently updated</option>
                  <option value="views">Most views</option>
                  <option value="comments">Most comments</option>
                </select>
              </div>
              
              
             <div class="govuk-form-group">
               <fieldset class="govuk-fieldset">
                 <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                   <h2 class="govuk-fieldset__heading">
                     Things to cover:
                   </h2>
                 </legend>
                 <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                     <label class="govuk-label govuk-checkboxes__label" for="organisation">
                       Current accommodation
                     </label>
                   </div>
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                     <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                       Who do they live with
                     </label>
                   </div>
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                     <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                       Location of property
                     </label>
                   </div>
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                     <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                       What needs to change
                     </label>
                   </div>
                 </div>
               </fieldset>
             </div>
              
              
            </div>
            
            
            
            
          </div> -->
          




          





<!-- /Patterns --> 


        </main>
      </div>
    
    
    <footer class="temp-f">
      <p><a class="govuk-footer__link" href="/manage-prototype/clear-data">
        Clear data
      </a>
      </p>
    </footer>

    
 
  
    
  
    <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/kit.js"></script>
  

  
    <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/auto-store-data.js"></script>
  

  
    <script src="/plugin-assets/govuk-frontend/govuk/all.js"></script>
  

  
    <script src="/plugin-assets/govuk-frontend/govuk-prototype-kit/init.js"></script>
  

  
    <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/all.jquery.min.js"></script>
  

  
    <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/init.js"></script>
  

  
    <script src="/plugin-assets/jquery/dist/jquery.js"></script>
  

  
    <script src="/public/javascripts/application.js"></script>
  
<script>
$(function() {                       //run when the DOM is ready
$(".addtag").click(function() {  //use a class, since your ID gets mangled
  $(this).addClass("active");      //add the class to the clicked element
});
});
</script>
  

  </body>
</html>
