<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
  Sentence plan - GOV.UK
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/plugin-assets/govuk-frontend/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon.png">
    

    
  
  
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />




  


    
    
  </head>
  <body class="govuk-template__body "><script id="__bs_script__">//<![CDATA[
  (function() {
    try {
      var script = document.createElement('script');
      if ('async') {
        script.async = true;
      }
      script.src = '/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname);
      if (document.body) {
        document.body.appendChild(script);
      } else if (document.head) {
        document.head.appendChild(script);
      }
    } catch (e) {
      console.error("Browsersync: could not append script tag", e);
    }
  })()
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    
{%- from "moj/components/header/macro.njk" import mojHeader -%}

{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: '#'
  },
  serviceLabel: {
    text: 'Sentence Plan',
    href: '#'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: '',
      href: '#',
      active: true
    }, {
      text: '',
      href: '#'
    }]
  }

}) }}




  




    


      
        
        <main class="sp-wrapper" id="main-content" role="main">
          
 
          
          
 <!-- Patterns -->         
 

 
 
 <div class="govuk-grid-row">
   <div class="govuk-grid-column-one-quarter">
     
     <div class="left-panel">

       <div class="backhome"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></div>
       
       
       <p>Assessment in progress</p>
      
     </div>
     
     
   </div>
   
   <div class="govuk-grid-column-three-quarters">
     
     <div class="right-panel">
       
       
       <div class="govuk-grid-column-full head-full">
          
          <div class="profile-banner-plan">
                
                
             <h1 class="govuk-heading-m mb0">
                <!--  <span class="govuk-caption-l">JW 41 54 60 A</span> -->
                  Ibrahima Jones
                  
                  <!-- <span class="moj-badge moj-badge--red">HIGH RISK OF SERIOUS HARM</span> -->
                </h1>
            
             <ul class="govuk-list">
               <li>CRN: Z804100</li>
               <li>PNC: 2017/123400000H</li>
               <li>Date of birth: 26 June 1978</li>
             </ul>
             
      
              
              </div>
              
              
              
        
        
        
        
          
        </div>







     
    </div>
    
    
 </div>
          
          




          





<!-- /Patterns --> 


        </main>
      </div>



    
  
    
  
    <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/kit.js"></script>
  

  
    <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/auto-store-data.js"></script>
  

  
    <script src="/plugin-assets/govuk-frontend/govuk/all.js"></script>
  

  
    <script src="/plugin-assets/govuk-frontend/govuk-prototype-kit/init.js"></script>
  

  
    <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/all.jquery.min.js"></script>
  

  
    <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/init.js"></script>
  

  
    <script src="/plugin-assets/jquery/dist/jquery.js"></script>
  

  
    <script src="/public/javascripts/application.js"></script>
  


    
  

  </body>
</html>
