{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 


{% block main %}
{% include "../includes/primary-nav.html" %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
          
          <div class="profile-banner-plan profileFIlters">
             
          
           <ul class="govuk-list govuk-!-margin-bottom-0">
            <li class="govuk-body govuk-!-font-size-19" style="padding-top: 8px;">
                
            <strong>John Smith</strong>
              </li>
            <li style="padding-top: 8px;">CRN: Z804100</li>
             <li style="padding-top: 8px;">PNC: 2017/123400000H</li>
             <li style="padding-top: 8px;">Date of birth: 26 June 1978</li>
           </ul>
           
          </hr>
          
            
            </div>
          
  </div>

          
<a href="/splan6/create-goal" class="govuk-back-link">Back</a> 

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">I will find suitable accommodation</span>
    <h1 class="govuk-heading-l">Add steps to John's goal</h1>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View information from John’s assessment
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          This area is linked to risk of serious harm (RoSH)
        </h3>
        <p>
          John has a history of destabilising quickly if he loses accommodation
          and therefore having secure accommodation is key in reducing his risk.
          When NFA he will gravitate to a negative peer group in the form of the
          rough sleeping community who use substances which then increases the
          risks of him engaging in harmful behaviours.
        </p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          This area is linked to risk of reoffending
        </h3>
        <p>
          Lack of accommodation destabilises John which then impacts on his
          mental health which in turn increases the likelihood of using
          substances to self-medicate. Rough sleeping increases the contact with
          the local Rough Sleeping community to which John is well known and
          will increase the likelihood of aggressive and violent behaviour as he
          engages in substance misuse and offending as a way to survive.
        </p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Motivation to make changes in this area
        </h3>
        <p>John wants to make changes and knows how.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          There are strengths or protective factors related to this area
        </h3>
        <p>
          John is engaged with the RISE team to support him in maintaining his
          tenancy and has weekly contact with their support worker.
        </p>
      </div>
    </details>

    <form class="form" action="/splan6/plan-overview" method="post">
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>

{% endblock %}
