{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 
{% block main %}
{% include "../includes/primary-nav.html" %}
{{ super() }}
{% endblock %}

{% block content %}


{% include "../includes/profile-banner.html" %}
<a href="/splan6/create-goal" class="govuk-back-link">Back</a> 


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">I will find suitable accommodation</span>
      Add steps to John's goal
    </h1>
    {% include "../includes/info-from-assessment.html" %}

    <form class="form" action="/splan6/plan-overview" method="post">
      <input class="govuk-button" type="submit" value="Continue">
    </form>

  </div>
</div>

{% endblock %}
