{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 


{% block main %}
{% include "../includes/primary-nav.html" %}
{{ super() }}
{% endblock %}

{% block content %}

    {% include "../includes/profile-banner.html" %}

     <a href="/splan6/plan-overview" class="govuk-back-link">Back</a> 

  <div class="govuk-grid-row">
  </br>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Does John agree to this plan?
      </h1>

      <form class="form" action="/splan5/plan-agreed-overview" method="post">

        
        
        {% set phoneHtml %}
        {{ govukInput({
          id: "contact-by-phone",
          name: "contactByPhone",
          type: "text",
          autocomplete: "text",
          classes: "govuk-!-width-full",
          label: {
            text: "Enter details"
          }
        }) }}
        {% endset -%}
      
        {% set noanswerHtml %}
        {{ govukInput({
          id: "no-answer",
          name: "contactByPhone",
          type: "text",
          autocomplete: "text",
          classes: "govuk-!-width-full",
          label: {
            text: "Enter details"
          }
        }) }}
        {% endset -%}
        
        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Joan must answer this question, or you must record why Joan could not."
          },
          items: [
            {
              value: "email",
              text: "Yes, John agrees"
            },
            {
              value: "phone",
              text: "No, John does not agree",
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "no-answer",
              text: "John could not answer this question",
              conditional: {
                html: noanswerHtml
              }
            }
          ]
        }) }}

        <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="250">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="with-hint">Add any notes (optional)</label>
          </h2>
          <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="3" aria-describedby="with-hint-info with-hint-hint"></textarea>
          
        </div>

        {{ govukButton({
          text: "Agree plan with John"
        }) }}

        <p class="govuk-body">
          <a href="plan-overview" class="govuk-link govuk-link--no-visited-state">Change goals</a>
        </p>
      </form>

    </div>
  </div>

{% endblock %}
