{% extends "layouts/main.html" %} {% block pageTitle %} Sam's Plan –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 
{% block main %}
{% include "../includes/primary-nav.html" %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="profile-banner-plan profileFilters">
      <div class="header-container">
          <ul class="govuk-list govuk-!-margin-bottom-0">
              <li class="govuk-body govuk-!-font-size-19" style="padding-top: 8px;">
                  <strong>Sam Smith</strong>
              </li>
              <li style="padding-top: 8px;">CRN: Z804100</li>
              <li style="padding-top: 8px;">PNC: 2017/123400000H</li>
              <li style="padding-top: 8px;">Date of birth: 26 June 1978</li>
          </ul>
      </div>
  
      <div class="header-container" style="display: flex;  justify-content: space-between; padding-top: 20px;">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Sentence plan</h1>
          
      </div>
  </div>


  <div class="govuk-grid-row">
    <!-- card-->
   <div class="govuk-grid-column-one-half">                         
    <div class="card">
      
      <div class="card-body landing-card">
        <div class="landing-heading">
          <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state" href="/splan7/plan-overview">Check or update Sam’s plan</a></h2>
        </div>
      <p class="govuk-body">
        Last updated on 1 August 2024.
      </p>
      <p class="govuk-body">
        View or update Sam’s goals and steps, and record how Sam is doing on each goal.
      </p>

      
     
      </div>
    </div>
  </div>
    <!-- card end -->
  
  
    <!-- card-->
    <div class="govuk-grid-column-one-half">                         
      <div class="card">
        
        <div class="card-body landing-card">
          <div class="landing-heading">
            <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state" href="/splan7/record-progress">Record plan progress</a></h2>
          </div>
            <p class="govuk-body">
              Consider and record how Sam is doing on their plan.
            </p>
        
        </div>
      </div>
    </div>
      <!-- card end -->

        <!-- card-->
    <div class="govuk-grid-column-one-half">                         
      <div class="card">
        
        <div class="card-body landing-card">
          <div class="landing-heading">
            <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state" href="/splan7/progress">View all progress</a></h2>
          </div>
            <p class="govuk-body">
              View notes on Sam’s progress and updates made to goals.
            </p>
        
        </div>
      </div>
    </div>
      <!-- card end -->

        <!-- card-->
    <div class="govuk-grid-column-one-half">                         
      <div class="card">
        
        <div class="card-body landing-card">
          <div class="landing-heading">
            <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state" href="/splan7/about">View a summary of Sam’s assessment</a></h2>
          </div>
          <p class="govuk-body-s">
            Last updated 27 June 2024
          </p>
            <p class="govuk-body">
              Check Sam’s strengths, risks and needs to help you consider their plan together.
            </p>
        
        </div>
      </div>
    </div>
      <!-- card end -->
  </div>


  <!-- <p class="govuk-body">Sam does not have any goals yet. You can either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="/splan6/create-goal" class="govuk-link--no-visited-state">create a goal with Sam</a>
    </li>
    <li>
        <a href="/splan6/about" class="govuk-link--no-visited-state">view information about Sam</a></li>
    </ul>
  </div>
</div> -->



    {% endblock %}