{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
          
          <div class="profile-banner-plan profileFIlters">
             
          
           <ul class="govuk-list govuk-!-margin-bottom-0">
            <li class="govuk-body govuk-!-font-size-19" style="padding-top: 8px;">
                
            <strong>John Smith</strong>
              </li>
            <li style="padding-top: 8px;">CRN: Z804100</li>
             <li style="padding-top: 8px;">PNC: 2017/123400000H</li>
             <li style="padding-top: 8px;">Date of birth: 26 June 1978</li>
           </ul>
           
          </hr>
          <!--<h1 class="govuk-heading-l" style="margin-bottom: -5px;"> John's plan</h1>-->
            
            </div>
          
  </div>

</div>



   
      {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "create-step1"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl">Thinking, behaviours and attitudes</span>
      <h1 class="govuk-heading-l">Add or review steps</h1>

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">
        Goal: improve problem-solving skills
      </h2>
      </div>
      

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">SMART goals and steps</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Goals and steps should be SMART, meaning ‘specific’, ‘measurable’, ‘achievable’, ‘realistic’, and ‘time-bound’. This allows progress to be better measured and evaluated.</p>
          <p class="govuk-body">Adding steps makes goals more measurable and achievable.</p>
        </div>
      </details>

      </div>
      <div class="govuk-grid-column-full">
       
                <table class="govuk-table">
                  
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Step</th>
                      <th scope="col" class="govuk-table__header">Who will do this</th>
                      <th scope="col" class="govuk-table__header">Change step</th>
                      <th scope="col" class="govuk-table__header">Delete step</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">Improve ability to identify a problem</th>
                      <td class="govuk-table__cell">John</td>
                      <td class="govuk-table__cell"><a href="#">Change</a></td>
                      <td class="govuk-table__cell"><a href="#">Delete</a></td>
                    </tr>
                  
                    
                    
                  </tbody>
                </table>


                
            

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% set emailHtml %}
          {{ govukInput({
          id: "something-else",
          name: "contactByEmail",
          type: "text",
          autocomplete: "text",
          spellcheck: false,
          classes: "govuk-!-width-full",
       
          label: {
            text: "Enter the next step"
          }
          }) }}
          {% endset -%}

        {{ govukRadios({
          name: "whereDoYouLive",
          fieldset: {
            legend: {
              text: "What is the next step?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "england",
              text: "Improve ability to identify a problem"
            },
            {
              value: "scotland",
              text: "Find alternative solutions to problems"
            },
            {
              value: "wales",
              text: "Break each problem into smaller parts, instead of trying to deal with it all at once"
            },
            {
              value: "northern-ireland",
              text: "Consider problems they have dealt with and what they could have done differently"
            },
            {
              value: "northern-ireland2",
              text: "Provide examples of problems they have solved"
            },
            {
              value: "northern-ireland3",
              text: "Identify people who can help them with problems"
            },
            {
              divider: "or"
            },
            {
              value: "something-else",
              text: "Something else",
              conditional: {
                html: emailHtml
              }
            }
          ]
        }) }}



        {% set textHtml %}
        {{ govukInput({
          id: "contact-by-text",
          name: "contactByText",
          type: "text",
          autocomplete: "text",
          classes: "govuk-!-width-full",
          label: {
            text: "Enter who will do this step"
          }
        }) }}
        {% endset -%}

          {{ govukCheckboxes({
            name: "contact",
            fieldset: {
              legend: {
                text: "Who will do this step?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "email",
                text: "John"
              },
              {
                value: "phone",
                text: "Probation practitioner"
              },
              {
                value: "phone2",
                text: "Programme staff"
              },
              {
                value: "phone3",
                text: "Partnership agency"
              },
              {
                value: "phone4",
                text: "Commissioned rehabilitative services (CRS) provider"
              },
              {
                value: "text message",
                text: "Someone else",
                conditional: {
                  html: textHtml
                }
              }
            ]
          }) }}

          <form action="/splan5/review-steps2-thinking" method="post" novalidate>

            {{ govukButton({
              text: "Save step"
            }) }}
    
          </form>
    </div>
    </div>
  </div>

{% endblock %}
