{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}


  
          
          
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
          
          <div class="profile-banner-plan profileFIlters">
             
          
           <ul class="govuk-list govuk-!-margin-bottom-0">
            <li class="govuk-body govuk-!-font-size-19" style="padding-top: 8px;">
                
            <strong>Joan Smith</strong>
              </li>
            <li style="padding-top: 8px;">CRN: Z804100</li>
             <li style="padding-top: 8px;">PNC: 2017/123400000H</li>
             <li style="padding-top: 8px;">Date of birth: 26 June 1978</li>
           </ul>
           
          </hr>
          <!--<h1 class="govuk-heading-l" style="margin-bottom: -5px;"> Joan's plan</h1>-->
            
            </div>
          
  </div>

</div>


        
<a href="/splan5/index" class="govuk-back-link">Back</a> 
        

<div class="govuk-grid-row">
 
  <div class="govuk-grid-column-one-third">

    {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Accommodation',
        href: 'create-goal'
      }, {
        text: 'Employment and education',
        href: '#2'
      }, {
        text: 'Finance',
        href: '#3'
      }, {
        text: 'Drug use',
        href:'#4'
      },
      {
        text: 'Alcohol use',
        href:'create-goal-alcohol'
      },
      {
        text: 'Health and wellbeing',
        href:'#6'
      },
      {
        text: 'Personal relationships and community',
        href:'#7'
      },
      {
        text: 'Thinking, behaviours and attitudes',
        href:'create-goal-thinking',
        active: true
      }
      ]
    }) }}

  </div>
          
          
          
          <div class="govuk-grid-column-two-thirds">
          </br>
        
            
            
            <span class="govuk-caption-xl">Thinking, behaviours and attitudes</span>
            <h1 class="govuk-heading-l">Create a goal with Joan</h1>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View information from Joan’s assessment
                </span>
              </summary>
              <div class="govuk-details__text">
                <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Motivation to make changes in this area</h1>
                <p>Joan wants to make changes and knows how.</p>

                <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Strengths and protective factors</h1>
                <p>Information related to strengths and protective factors.</p>

                <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Risk summary for this area</h1>
                <p>Information about risk related to thinking, behaviours and attitudes.</p>
                
                <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Notes on thinking, behaviours and attitudes</h1>
                <p class="govuk-body-s govuk-!-margin-bottom-0" style="color: #505a5f;font-size: 1rem;">Created on 26 March 2024 by Joe Bloggs.</p>
                <p class="govuk-body">Joan should be encouraged to improve her problem-solving abilities in order to minimise possibility of future offending.</p>
               </div>
            </details>

            <div class="govuk-form-group ">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="country">
                      What goal should Joan try to achieve?
                    </label>
                    <div id="event-name-hint" class="govuk-hint">
                      Search for a goal or write your own.
                    </div>
                  <select class="govuk-select" id="country" name="country"
                    data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
                    <option value="" selected disabled>Select an option</option>
                    <option value="relationship">Improve problem-solving skills</option>
                    <option value="suitable">Develop new thinking and decision-making skills</option>
                    <option value="eviction">Reduce impulsive behaviour</option>
                    <option value="rules">Increase ability to plan for the future</option>
                    <option value="assessed">Improve ability to resolve conflict</option>
                    <option value="payments">Increase understanding of how behaviour affects others</option>
                    <option value="applications">Increase awareness of the triggers that may lead to violent behaviour</option>
                    <option value="applications">Reduce the number of conflicts they are involved with</option>
                    <option value="applications">Do not get arrested for any violent incidents in the next 12 months</option>
                    <option value="applications">Increase assertiveness skills</option>
                    <option value="applications">Increase skills in dealing with others</option>
                    <option value="applications">Increase skills in dealing with difficult situations</option>
                    <option value="applications">Increase self-control</option>
                    <option value="applications">Increase awareness of how their attitude affects their behaviour</option>
                    <option value="applications">Increase understanding of how it feels to be treated in a discriminatory way</option>
                    <option value="applications">Attitudes to justify their behaviour</option>
                    <option value="applications">Improve sensitivity</option>
                    <option value="applications">Increase acceptance of cultural diversity</option>
                    <option value="applications">Improved compliance with the supervision process</option>
                    <option value="applications">Compile all licence conditions for the duration of their licence</option>
                    <option value="applications">Identify and overcome obstacles that have previously contributed to their behaviour</option>
                  </select>
                </div>

                 
                </fieldset>
                




                <a href="/splan5/goal-details-thinking.html" type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                    Save and continue
                </a>

   
              </div>

          </div>

          </div>
          
          
        </div>
        
        
        
       
        
      </div>
    
    </div>

        </main>
      </div>


    
{% endblock %}
