{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

          
          
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
          
          <div class="profile-banner-plan profileFIlters">
             
          
           <ul class="govuk-list govuk-!-margin-bottom-0">
            <li class="govuk-body govuk-!-font-size-19" style="padding-top: 8px;">
                
            <strong>John Smith</strong>
              </li>
            <li style="padding-top: 8px;">CRN: Z804100</li>
             <li style="padding-top: 8px;">PNC: 2017/123400000H</li>
             <li style="padding-top: 8px;">Date of birth: 26 June 1978</li>
           </ul>
           
          </hr>
          <!--<h1 class="govuk-heading-l" style="margin-bottom: -5px;"> John's plan</h1>-->
            
            </div>
          
  </div>

</div>


        
<a href="/splan5/index" class="govuk-back-link">Back</a> 
        

<div class="govuk-grid-row">
 
  <div class="govuk-grid-column-one-third">

    {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Accommodation',
        href: 'create-goal'
      }, {
        text: 'Employment and education',
        href: '#2'
      }, {
        text: 'Finance',
        href: '#3'
      }, {
        text: 'Drug use',
        href:'#4'
      },
      {
        text: 'Alcohol use',
        href:'create-goal-alcohol',
        active: true
      },
      {
        text: 'Health and wellbeing',
        href:'#6'
      },
      {
        text: 'Personal relationships and community',
        href:'#7'
      },
      {
        text: 'Thinking, behaviours and attitudes',
        href:'create-goal-thinking'
      }
      ]
    }) }}

  </div>
          
          
          
          <div class="govuk-grid-column-two-thirds">
          </br>
        
            
            
            <span class="govuk-caption-xl">Alcohol use</span>
            <h1 class="govuk-heading-l">Create a goal with John</h1>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View information from John’s assessment
                </span>
              </summary>
              <div class="govuk-details__text">
                <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Motivation to make changes in this area</h1>
                <p>John wants to make changes and knows how.</p>

                <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Strengths and protective factors</h1>
                <p>Information related to strengths and protective factors.</p>

                <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Risk summary for this area</h1>
                <p>Information about risk related to alcohol use.</p>
                
                <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Notes on alcohol use</h1>
                <p class="govuk-body-s govuk-!-margin-bottom-0" style="color: #505a5f;font-size: 1rem;">Created on 26 March 2024 by Joe Bloggs.</p>
                <p class="govuk-body">John may be required to ...</p>
               </div>
            </details>

            <div class="govuk-form-group ">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <div class="govuk-form-group ">
                      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--m" for="country">
                            What goal should John try to achieve?
                          </label>
                          <div id="event-name-hint" class="govuk-hint">
                            Search for a goal or write your own.
                          </div>
                        <select class="govuk-select" id="country" name="country"
                          data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
                          <option value="" selected disabled>Select an option</option>
                          <option value="relationship">Increase understanding of the level of their alcohol use</option>
                          <option value="suitable">Understand how their alcohol use affects their behaviour</option>
                          <option value="eviction">Increase involvement with alcohol support services</option>
                          <option value="rules">Increase understanding of how their alcohol use impacts them, their family and the wider community</option>
                          <option value="assessed">Reduce or stop drinking</option>
                          <option value="payments">Maintain not drinking</option>
                          <option value="applications">Understand the impact of drink-driving</option>
                          <option value="applications">Increase understanding of the risk of returning to alcohol use in relation to how it affected their behaviour before</option>
                          <option value="applications">Increase awareness of the legal limits of alcohol</option>
                          <option value="applications">Increase awareness of the effects of alcohol</option>
                          <option value="applications">Increase awareness of how alcohol use impacts driving skills</option>
                          <option value="applications">Increase awareness of the triggers to relapse</option>
                          <option value="applications">Increase knowledge of the link between alcohol use and physical, psychological and emotional wellbeing</option>
                          <option value="applications">Avoid other people who have alcohol issues</option>
                       
                        </select>
                      </div>
                  

                      
                    </div>
                  </div>
                </fieldset>





                <a href="/splan5/goal-details.html" type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                    Save and continue
                </a>

   
              </div>

          </div>

          </div>
          
          
        </div>
        
        
        
       
        
      </div>
    
    </div>

       
      </div>

{% endblock %}
