{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
          
          <div class="profile-banner-plan profileFIlters">
             
          
           <ul class="govuk-list govuk-!-margin-bottom-0">
            <li class="govuk-body govuk-!-font-size-19" style="padding-top: 8px;">
                
            <strong>Joan Smith</strong>
              </li>
            <li style="padding-top: 8px;">CRN: Z804100</li>
             <li style="padding-top: 8px;">PNC: 2017/123400000H</li>
             <li style="padding-top: 8px;">Date of birth: 26 June 1978</li>
           </ul>
           
          </hr>
          <h1 class="govuk-heading-l" style="margin-bottom: -5px;"> Joan's plan</h1>
            
            </div>
          
  </div>

</div>



   
      {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "create-step1"
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl">Accommodation</span>
      <h1 class="govuk-heading-l">Add steps with Joan to help them work towards this goal</h1>

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">
        Goal: find suitable accommodation.
      </h2>
      </div>
      

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Creating SMART goals</span>
        </summary>
        <div class="govuk-details__text">
          Goals and steps should be SMART, meaning 'specific', 'measurable', 'achievable', 'realistic', and 'time-bound'. This allows progress to be better measured and evaluated.
        </div>
      </details>

      </div>
      <div class="govuk-grid-column-full">
       
                <table class="govuk-table">
                  
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Step</th>
                      <th scope="col" class="govuk-table__header">Who will do this</th>
                      <th scope="col" class="govuk-table__header">Actions</th>
                      <th scope="col" class="govuk-table__header"></th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">Make a referral to housing officer</th>
                      <td class="govuk-table__cell">Probation practitioner</td>
                      <td class="govuk-table__cell"><a href="#">Change</a></td>
                      <td class="govuk-table__cell"><a href="#">Delete</a></td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">Set up appointments with housing agencies</th>
                      <td class="govuk-table__cell">Joan</br>Probation practitioner</td>
                      <td class="govuk-table__cell"><a href="#">Change</a></td>
                      <td class="govuk-table__cell"><a href="#">Delete</a></td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="govuk-grid-column-two-thirds-from-desktop">

                <form action="/splan5/create-step2" method="post" novalidate>

                  {{ govukButton({
                    text: "Add another step",
                    classes: "govuk-button--secondary"
                  }) }}
          
                </form>
            
              <form action="/splan5/plan-overview" method="post" novalidate>

                {{ govukButton({
                  text: "Save and add to plan"
                }) }}
        
              </form>
            </div>

    </div>
  </div>
{% endblock %}
