<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
  Sentence plan
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/plugin-assets/govuk-frontend/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon.png">
    

    
  
  
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />




  


    
    
  </head>
  <body class="govuk-template__body "><script id="__bs_script__">//<![CDATA[
  (function() {
    try {
      var script = document.createElement('script');
      if ('async') {
        script.async = true;
      }
      script.src = '/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname);
      if (document.body) {
        document.body.appendChild(script);
      } else if (document.head) {
        document.head.appendChild(script);
      }
    } catch (e) {
      console.error("Browsersync: could not append script tag", e);
    }
  })()
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    
{%- from "moj/components/header/macro.njk" import mojHeader -%}

{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: '/index'
  },
  serviceLabel: {
    text: 'Sentence Plan',
    href: '/index'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: 'Alexis Diaz',
      href: '#',
      active: true
    }, {
      text: 'Sign out',
      href: '#'
    }]
  }

}) }}




  




    
      <div class="govuk-width-container">
        
        
        
        

      
        
        <main class="govuk-main-wrapper " id="main-content" role="main">
          
          
          
          
      
          
          
          
          
          
          
 <!-- Patterns -->         
          
          

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
          
          <div class="profile-banner-plan">
              
              
           <h1 class="govuk-heading-m mb0">
              <!--  <span class="govuk-caption-l">JW 41 54 60 A</span> -->
                Ibrahima Jones
                
                <!-- <span class="moj-badge moj-badge--red">HIGH RISK OF SERIOUS HARM</span> -->
              </h1>
          
           <ul class="govuk-list">
             <li>CRN: Z804100</li>
             <li>PNC: 2017/123400000H</li>
             <li>Date of birth: 26 June 1978</li>
           </ul>
           
    
            
            </div>
          
  </div>

</div>         
          

          


<div class="govuk-grid-row">
    
<div class="govuk-grid-column-full">
  
  
  <div class="backhome"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></div>

  <form class="form" action="actionQ" method="post">


         <h1 class="govuk-heading-l">
           <span class="govuk-caption-l">Ibrahima's objective</span>
         {{ data['title'] }}</h1>
         
         
         
        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#actions">
                Actions
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#summary">
                Objective summary
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#notes">
                Timeline
              </a>
            </li>
          
          </ul>
          <div class="govuk-tabs__panel" id="actions">
            <h2 class="govuk-heading-m">Actions</h2>
            
            
          {% if data['action-date'] %}
            
            <table class="govuk-table main-case-table" data-module="moj-sortable-table">
             
               <thead class="govuk-table__head">
                 <tr class="govuk-table__row">
             
                   <th scope="col" class="govuk-table__header">What</th>
                   
                   
                   
                   <th scope="col" class="govuk-table__header">When</th>
                   
                   <th scope="col" class="govuk-table__header">Who</th>
                   
                   <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
             
             
                 </tr>
               </thead>
             
               <tbody class="govuk-table__body">
             
          
             
                 <tr class="govuk-table__row">
             
                   <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Action 1</a></td>
              

                    <td class="govuk-table__cell">
                      12 June 2024
                    </td>
                    
                    
                    <td class="govuk-table__cell">
                      Probation officer
                    </td>
                    
                    <td class="govuk-table__cell govuk-table__header--numeric">
                    <strong class="govuk-tag govuk-tag--blue mt0">
                      New
                    </strong>
                    </td>
          
                 </tr>

               </tbody>
             </table>
             
             {% else %}
            
            
            <p>There are currently no actions added to this objective.</p>    
            
            {% endif %} 
            
            
            
            
                 
            <p><a href="action" class="govuk-button">Add an action</a></p>
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="summary">
            
            
            
            <div class="govuk-grid-row">
                  
              <div class="govuk-grid-column-two-thirds">
            
            <h2 class="govuk-heading-m">Objective summary</h2>
            
            <h3 class="govuk-heading-s mt40">Objective description</h3>
            <p class="govuk-body"> {{ data['describe'] }}</p>
            
            
            <h3 class="govuk-heading-s">How will you measure Ibrahima's success on this objective?</h3>
            <p class="govuk-body"> {{ data['achieved'] }}</p>
           
           
           <h3 class="govuk-heading-s">What criminogenic needs are connected to this objective?</h3>
           <ul class="govuk-list govuk-list--bullet">
 
             {% if data['need'].includes('Accommodation') %}
           
             <li>Accommodation</li>
           
             {% endif %}
 
             {% if data['need'].includes('Employment and education') %}
           
             <li>Employment and education</li>
           
             {% endif %}
           
             {% if data['need'].includes('Finance') %}
           
             <li>Finance</li>
           
             {% endif %}
             
             {% if data['need'].includes('Drug use') %}
           
             <li>Drug use</li>
           
             {% endif %}
             
             {% if data['need'].includes('Alcohol use') %}
           
             <li>Alcohol use</li>
           
             {% endif %}
             
             {% if data['need'].includes('Health and wellbeing') %}
           
             <li>Health and wellbeing</li>
           
             {% endif %}
             
             {% if data['need'].includes('Personal relationships and community') %}
           
             <li>Personal relationships and community</li>
           
             {% endif %}
             
             {% if data['need'].includes('Thinking behaviours and attitudes') %}
           
             <li>Thinking, behaviours and attitudes</li>
           
             {% endif %}
 
           </ul>
           
           
           <h3 class="govuk-heading-s">Where is Ibrahima on the Cycle of Change for this objective?</h3>
           {% if data['cycle']=='cycle1'%}
           
           <h3 class="govuk-heading-s">Pre-contemplation</h3>
           <p class="govuk-body">{{ data['cycle1-more-detail'] }}</p>
   
         {% elif data['cycle']=='cycle2'%}
         
         <h3 class="govuk-heading-s">Contemplation</h3>
         <p class="govuk-body">{{ data['cycle2-more-detail'] }}</p>								
         
         {% elif data['cycle']=='cycle3'%}
         
         <h3 class="govuk-heading-s">Preparation</h3>
         <p class="govuk-body">{{ data['cycle3-more-detail'] }}</p>
         
         {% elif data['cycle']=='cycle4'%}
         
         <h3 class="govuk-heading-s">Action</h3>
         
         <p class="govuk-body">{{ data['cycle4-more-detail'] }}</p>
         
         {% elif data['cycle']=='cycle5'%}
         
         <h3 class="govuk-heading-s">Maintenance</h3>
         <p class="govuk-body">{{ data['cycle5-more-detail'] }}</p>
         
         {% elif data['cycle']=='cycle6'%}
         
      <h3 class="govuk-heading-s">Relapse</h3>
      <p class="govuk-body">{{ data['cycle6-more-detail'] }}</p>

         
         {% else %}
     
        <p class="govuk-body"> Not selected</p>
         
         {% endif %} 
         
         
         <h3 class="govuk-heading-s">How able is Ibrahima to achieve this objective?</h3>
         <p class="govuk-body"> {{ data['motivation'] }}</p>
         
              </div></div>
            
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="notes">
            
            <div class="govuk-grid-row">
                  
              <div class="govuk-grid-column-two-thirds">
            
            <h2 class="govuk-heading-m">Timeline</h2>
            
            <div class="moj-timeline mt30">
              <div class="moj-timeline__item">
            
                <div class="moj-timeline__header">
                  <h2 class="moj-timeline__title">Application requires confirmation</h2>
            
                  <p class="moj-timeline__byline">by Joe Bloggs</p>
            
                </div>
            
                <p class="moj-timeline__date">
                  <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
                </p>
            
                <div class="moj-timeline__description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non felis risus. Curabitur nec ante vitae felis ullamcorper tincidunt.</p>
                  <a class="govuk-button govuk-!-margin-bottom-0" href="#">Continue</a>
                </div>
            
              </div>
            
              <div class="moj-timeline__item">
            
                <div class="moj-timeline__header">
                  <h2 class="moj-timeline__title">Application review in progress</h2>
            
                  <p class="moj-timeline__byline">by Caseworker 1</p>
            
                </div>
            
                <p class="moj-timeline__date">
                  <time datetime="2019-06-07T12:32:00.000Z">7 June 2019 at 12:32pm</time>
                </p>
            
                <div class="moj-timeline__description">Your application is being reviewed by one of our case workers.</div>
            
              </div>
            
              <div class="moj-timeline__item">
            
                <div class="moj-timeline__header">
                  <h2 class="moj-timeline__title">Application received</h2>
            
                  <p class="moj-timeline__byline">by Caseworker 1</p>
            
                </div>
            
                <p class="moj-timeline__date">
                  <time datetime="2019-06-06T09:12:00.000Z">6 June 2019 at 9:12am</time>
                </p>
            
                <div class="moj-timeline__description">Your application has been received – reference MOJ-1234-5678</div>
            
              </div>
            
              <div class="moj-timeline__item">
            
                <div class="moj-timeline__header">
                  <h2 class="moj-timeline__title">Application submitted</h2>
            
                  <p class="moj-timeline__byline">by Joe Bloggs</p>
            
                </div>
            
                <p class="moj-timeline__date">
                  <time datetime="2019-05-28T10:45:00.000Z">28 May 2019 at 10:45am</time>
                </p>
            
                <div class="moj-timeline__description">
                  <details class="govuk-details govuk-!-margin-bottom-0">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Application details
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      Ut quam nunc, vulputate ac metus pharetra, posuere maximus velit. <a class="govuk-link" href="#">Etiam nec interdum velit.</a> Suspendisse molestie lectus in eros ornare
                    </div>
                  </details>
                </div>
            
              </div>
            
              <div class="moj-timeline__item">
            
                <div class="moj-timeline__header">
                  <h2 class="moj-timeline__title">Documents uploaded</h2>
            
                  <p class="moj-timeline__byline">by Joe Bloggs</p>
            
                </div>
            
                <p class="moj-timeline__date">
                  <time datetime="2019-05-28T10:15:00.000Z">28 May 2019 at 10:15am</time>
                </p>
            
                <div class="moj-timeline__description">
                  <ul class="moj-timeline__documents">
                    <li class="moj-timeline__document-item">
                      <a class="govuk-link" href="#">
                        <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                          <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
                        </svg>
                        Document 1
                      </a>
                    </li>
                    <li class="moj-timeline__document-item">
                      <a class="govuk-link" href="#">
                        <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                          <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
                        </svg>
                        Document 2
                      </a>
                    </li>
                  </ul>
                </div>
            
              </div>
            
              <div class="moj-timeline__item">
            
                <div class="moj-timeline__header">
                  <h2 class="moj-timeline__title">Application started</h2>
            
                  <p class="moj-timeline__byline">by Joe Bloggs</p>
            
                </div>
            
                <p class="moj-timeline__date">
                  <time datetime="2019-05-21T13:15:00.000Z">21 May 2019 at 1:15pm</time>
                </p>
            
                <div class="moj-timeline__description">
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link" href="#">Item 1</a></li>
                    <li><a class="govuk-link" href="#">Item 2</a></li>
                  </ul>
                </div>
            
              </div>
            </div>
            
            
            <p><a href="#" class="govuk-button">Add a note</a></p>
            
          </div>
          
        </div>
         
        

   
  </form>

<!-- / column-third-wrap -->
  </div>
</div>



<!-- /Patterns --> 























        </main>
      </div>
    

    
  <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
          <h2 class="govuk-visually-hidden">Footer links</h2>
          
            <ul class="govuk-footer__inline-list">
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/manage-prototype">
                    Manage your prototype
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/manage-prototype/clear-data">
                    Clear data
                  </a>
                </li>
              
            </ul>
          
          
        
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          
            All content is available under the
            <a
              class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license"
            >Open Government Licence v3.0</a>, except where otherwise stated
          
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>



    
  
    
  
    <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/kit.js"></script>
  

  
    <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/auto-store-data.js"></script>
  

  
    <script src="/plugin-assets/govuk-frontend/govuk/all.js"></script>
  

  
    <script src="/plugin-assets/govuk-frontend/govuk-prototype-kit/init.js"></script>
  

  
    <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/all.jquery.min.js"></script>
  

  
    <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/init.js"></script>
  

  
    <script src="/plugin-assets/jquery/dist/jquery.js"></script>
  

  
    <script src="/public/javascripts/application.js"></script>
  


    
  

  </body>
</html>
