<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
  Sentence plan
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/plugin-assets/govuk-frontend/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
      <link rel="apple-touch-icon" sizes="180x180" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/plugin-assets/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon.png">
    

    
  
  
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />




  


    
    
  </head>
  <body class="govuk-template__body "><script id="__bs_script__">//<![CDATA[
  (function() {
    try {
      var script = document.createElement('script');
      if ('async') {
        script.async = true;
      }
      script.src = '/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname);
      if (document.body) {
        document.body.appendChild(script);
      } else if (document.head) {
        document.head.appendChild(script);
      }
    } catch (e) {
      console.error("Browsersync: could not append script tag", e);
    }
  })()
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    

    
      <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    
{%- from "moj/components/header/macro.njk" import mojHeader -%}

{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: '/index'
  },
  serviceLabel: {
    text: 'Sentence Plan',
    href: '/index'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: 'Alexis Diaz',
      href: '#',
      active: true
    }, {
      text: 'Sign out',
      href: '#'
    }]
  }

}) }}




  




    
      <div class="govuk-width-container">
        
        
        
        

      
        
        <main class="govuk-main-wrapper " id="main-content" role="main">
          
          
          
          
      
          
          
          
          
          
          
 <!-- Patterns -->         
          
          

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
          
          <div class="profile-banner-plan">
              
              
           <h1 class="govuk-heading-m mb0">
              <!--  <span class="govuk-caption-l">JW 41 54 60 A</span> -->
                Ibrahima Jones
                
               <!-- <span class="moj-badge moj-badge--red">HIGH RISK OF SERIOUS HARM</span> -->
              </h1>
          
           <ul class="govuk-list">
             <li>CRN: Z804100</li>
             <li>PNC: 2017/123400000H</li>
             <li>Date of birth: 26 June 1978</li>
           </ul>
           
    
            
            </div>
          
  </div>

</div>         
          

          


<div class="govuk-grid-row">
  
  
  
  
<div class="govuk-grid-column-two-thirds">
  
  
  <div class="backhome"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></div>

  <form class="form" action="objective5" method="post">
 <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <span class="govuk-caption-l">Step 5 of 5</span>
      <label class="govuk-label govuk-label--l" for="motivation">
        How able is Ibrahima to achieve this objective?
      </label>
    </h1>
    <div id="motivation-hint" class="govuk-hint">
     Explore what is impacting their ability to achieve this objective. Include what might get in their way and what resources and strengths they have to help themselves, and what Probation can offer to help them progress.
    </div>
    <textarea class="govuk-textarea" id="motivation" name="motivation" rows="5" aria-describedby="motivation-hint"></textarea>
  </div>
  
  
  
 
  
  

<div class="govuk-button-group mt40">
  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save as draft
  </button>
</div>
  
   
  </form>

<!-- / column-third-wrap -->
  </div>
</div>



<!-- /Patterns --> 























        </main>
      </div>
    

    
  <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
          <h2 class="govuk-visually-hidden">Footer links</h2>
          
            <ul class="govuk-footer__inline-list">
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/manage-prototype">
                    Manage your prototype
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/manage-prototype/clear-data">
                    Clear data
                  </a>
                </li>
              
            </ul>
          
          
        
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          
            All content is available under the
            <a
              class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license"
            >Open Government Licence v3.0</a>, except where otherwise stated
          
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>



    
  
    
  
    <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/kit.js"></script>
  

  
    <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/auto-store-data.js"></script>
  

  
    <script src="/plugin-assets/govuk-frontend/govuk/all.js"></script>
  

  
    <script src="/plugin-assets/govuk-frontend/govuk-prototype-kit/init.js"></script>
  

  
    <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/all.jquery.min.js"></script>
  

  
    <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/init.js"></script>
  

  
    <script src="/plugin-assets/jquery/dist/jquery.js"></script>
  

  
    <script src="/public/javascripts/application.js"></script>
  


    
  

  </body>
</html>
